<mat-card>
    <mat-grid-list cols="7" rowHeight="100px">
        <mat-grid-tile colspan="4" rowspan="5">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="name">
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="value">
                    <td class="right-column" mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>

                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="1">

            <app-edit-main (newEditValues)="addEdit($event)"></app-edit-main>

            <app-close-main (newCloseValue)="addClose($event)"></app-close-main>

        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="2">
            <mat-card class='right'>
                <mat-card-content>
                    <h1>AVERAGE ENTRY PRICE</h1>
                </mat-card-content>
                <mat-card-title>{{avgPrice | number : '1.0-4'}}</mat-card-title>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="2">
            <mat-card class='right'>
                <mat-card-content>
                    <h1>SHARES</h1>
                </mat-card-content>
                <mat-card-title>{{shares | number : '1.0-4'}}</mat-card-title>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>