table {
    width: 90%;
    margin-bottom: 1%;
}

app-edit-main {
    width: 50%;
    margin-left: 10%;
}
app-close-main {
    width: 50%;
}

mat-card {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 3%;
    font-weight: bold;
   
}

.right {
    width: 100%;
    height: 75%;
    justify-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1E272C !important;
    color: white;
}

.right-column{
    text-align: right;
}
mat-grid-tile{
    margin-bottom: 5%;
    margin-bottom: 10%;
    display: flex; 
    align-items: center; 
    justify-content: center;
   
}
mat-card-content {
   
   
}
mat-card-title{
    text-align: center;
    font-size: 300%;
}