table {
    width: 90%;
    margin-bottom: 1%;
}

app-edit-main {
    width: 40%;
}

mat-card {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 3%;
}

button {
    width: 40%;
    background-color: #21CE99 !important;
}

button.rigth-btn {
    margin-left: 10%;
}

.right {
    width: 100%;
    height: 75%;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

mat-card-content {
    margin-bottom: 10%;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
mat-card-title{
    text-align: center;
    font-size: 300%;
}