<!-- <div class="entire">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="2" rowspan="1">

    </mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div> -->

<!-- TradingView Widget BEGIN -->
<div class="entire">
  <div class="tradingview-widget-container">
    <div id="tradingview_bac65"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener"
        target="_blank"><span class="blue-text">{{symbol}} chart</span></a> by TradingView</div>
    <script type="text/javascript"></script>
  </div>
</div>



<!-- TradingView Widget END -->