<div class="entire-table">

    <div class="excel">
        <img class="excel-icon" src="https://image.flaticon.com/icons/png/512/888/888850.png" alt=""
        (click)="exportAsXLSX()" style="width: 40px; height: 40px; margin-top: auto;">
    </div>
   
    
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td  mat-cell *matCellDef="let row" > {{row?.coinId | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Coin </th>
        <td mat-cell *matCellDef="let row"> {{row?.symbol | uppercase}} </td>
      </ng-container>

      <ng-container matColumnDef="entry">
        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Entry price </th>
        <td mat-cell *matCellDef="let row"> {{row?.entry | number : '1.0-4'}} </td>
      </ng-container> 

      <ng-container matColumnDef="close">
        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Closing price </th>
        <td mat-cell *matCellDef="let row"> {{row?.currentPrice | number : '1.0-4'}} </td>
      </ng-container>

      <ng-container matColumnDef="sum">
        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Sum </th>
        <td mat-cell *matCellDef="let row"> {{row?.sum | number : '1.0-4'}} </td>
      </ng-container>

      <ng-container matColumnDef="target">
        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Target profit </th>
        <td mat-cell *matCellDef="let row"> {{row?.target | number : '1.0-4'}} </td>
      </ng-container>

      <ng-container matColumnDef="stop">
        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Stop loss</th>
        <td mat-cell *matCellDef="let row"> {{row?.stop | number : '1.0-4'}} </td>
      </ng-container>

      <ng-container matColumnDef="prfLoss">
        <th class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Prt/Loss </th>
        <td mat-cell *matCellDef="let row"> {{row?.prfLoss | number : '1.0-4'}} </td>
      </ng-container>

      <ng-container matColumnDef="prfLossPerCent">
        <th  class="w-75 th-center" mat-header-cell *matHeaderCellDef mat-sort-header> Prt/Loss % </th>
        <td mat-cell *matCellDef="let row">{{row?.prfLossPerCent | number : '1.0-4'}}% </td>
      </ng-container>

      <tr class="mat-header" mat-header-row *matHeaderRowDef="['id', 'symbol', 'entry', 'close', 'sum', 'target', 'stop', 'prfLoss', 'prfLossPerCent']"></tr>
      <tr mat-row 
        *matRowDef="let row; columns: ['id', 'symbol', 'entry', 'close', 'sum', 'target', 'stop', 'prfLoss', 'prfLossPerCent']">
      </tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9">No data matching the filter "{{input.value}}"</td>
      </tr>

    </table>
    <mat-paginator (page)="pageChanged($event)" showFirstLastButtons [pageSizeOptions]="[1]"></mat-paginator>
  </div>
  
</div>