mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

.signin-content {
    padding: 60px 1rem;
}
.alert {
    background-color: #ff80ab;
    color: rgb(23, 6, 39);
}
.full-width-input {
    width: 100%;
}
h3 {
    font-weight: bold;
}
button{
    background-color: #21CE99 !important;
}