<div class="signin-content">
    <app-loader [isLoading]='isLoading'></app-loader>
    <mat-card>

        <h3>Login</h3>

        <mat-card-content>
            <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Username" name='username' ngModel #username='ngModel' required>
                    <!-- <mat-error *ngIf="isFieldInvalid('userName')">
              Please inform your user name
            </mat-error> -->
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" name='password' ngModel #password='ngModel'
                        required>
                    <!-- <mat-error *ngIf="isFieldInvalid('userName')">
              Please inform your password
            </mat-error> -->
                </mat-form-field>
                <button mat-raised-button color="accent">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>