<div class="signin-content">
    <app-loader [isLoading]='isLoading'></app-loader>
    <mat-card>

        <h3>Login</h3>

        <mat-card-content>
            <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Username" name='username' ngModel #username='ngModel' required>
                </mat-form-field>
                <mat-card class="alert" *ngIf='username.errors?.required && username.touched'>Username is required!
                </mat-card>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" name='password' ngModel #password='ngModel'
                        required minlength="5">
                </mat-form-field>
                <mat-card class="alert" *ngIf='password.errors?.required && password.touched'>Password is required!
                </mat-card>
                <mat-card class="alert" *ngIf='password.errors?.minlength && password.touched'>Password must be
                    minimum 5 symbols!
                </mat-card>
                <mat-card class="alert" *ngIf='error'>
                    {{error}}
                </mat-card>
                <button mat-raised-button color="accent">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>