<!-- <div class="entire">
    <mat-toolbar>
        <span>LOGIN</span>
    </mat-toolbar>
    <mat-card class="my-card">
        <mat-card-content>
            <form class="my-form">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" name="email">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" name="password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="login()" color="accent">LOGIN</button>
        </mat-card-actions>
    </mat-card>
</div> -->
<div class="signin-content">
    <app-loader [isLoading]='isLoading'></app-loader>
    <mat-card>

        <span>Login</span>

        <mat-card-content>
            <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
                <mat-form-field class="full-width-input">
                    <input matInput placeholder="Username" name='username' ngModel #username='ngModel' required>
                    <!-- <mat-error *ngIf="isFieldInvalid('userName')">
              Please inform your user name
            </mat-error> -->
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput type="password" placeholder="Password" name='password' ngModel #password='ngModel' required>
                    <!-- <mat-error *ngIf="isFieldInvalid('userName')">
              Please inform your password
            </mat-error> -->
                </mat-form-field>
                <button mat-raised-button color="accent">Login</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>