.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-icon {
  display: inline-block;
  margin-right: 1em;
}

.sidenav .mat-toolbar {
  background: inherit;
  margin-left: 25%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
  background-color: #1E272C !important;
}

a {
  text-align: absolute;
}

.active {
  background-color: #21CE99 !important;
}

.mat-form-field + .mat-form-field {
  margin-left: 30px;
}
mat-expansion-panel{
  margin-top: auto;
  margin-bottom: auto;
}