.container {
    justify-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 90%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.filter {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
    margin-bottom: 3%;
    align-items: stretch;
}

.example-card {
    margin-left: 50px;
}

.example-card-two {
    max-width: 400px;
}

h1 {
    color: teal;
}

.example-full-width {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    align-items: stretch;
}

button {
    background-color: #21CE99 !important;
}