<mat-card class='filter'>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
</mat-card>

<div class="container">
  <mat-card *ngIf="positions?.length > 0" class="example-card">
    <mat-card-content class="grid">
      <mat-card class="example-card-two" *ngFor="let position of positions">
        <mat-card-header>
          <mat-card-title>{{position.symbol | uppercase}}</mat-card-title>
          <mat-card-subtitle [ngStyle]="{'color': position.changeIn24h > 0 ? 'teal' : 'hotpink'}">
            {{position.changeIn24h | number : '1.0-4'}}% in 24h</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h1 [ngStyle]="{'color': position.prfLossPerCent > 0 ? 'teal' : 'hotpink'}">
            {{position.prfLossPerCent | number : '1.0-4' }}%</h1>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="portfolioCardClickDetails(position.symbol)">Details</button>
          <button mat-button (click)="portfolioCardClickTradingView(position.symbol)">TradingView
            <img style="width: 20px; height: 20px;"
              src="https://user-images.githubusercontent.com/5462382/34194692-9a517de4-e51f-11e7-8af9-46f9ea4cf555.png"></button>
        </mat-card-actions>
      </mat-card>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="positions.length === 0" class="example-card">No open positions to show</mat-card>
</div>