<div class="signup-content">
    <mat-card class="my-card">
        <mat-card-content>
            <form class="my-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                <h3>Register</h3>
                <mat-form-field class="full-width-input">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" name="username" id="username" placeholder="Username"
                        formControlName="username">
                </mat-form-field>
                <mat-card *ngIf="form.get('username').touched && form.get('username').errors?.required" class="alert">
                    Username is required!
                </mat-card>
                <mat-card *ngIf="form.get('username').touched && form.get('username').errors?.minlength" class="alert">
                    Username must be at least 5 characters!
                </mat-card>
                <mat-card class="alert" *ngIf="form.get('username').errors?.pattern && form.get('username').dirty">
                    Username must contain only latin letters and digits, "." and "_"!</mat-card>

                <mat-form-field class="full-width-input">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="email" name="email" id="email" formControlName="email">
                </mat-form-field>
                <mat-card class="alert" *ngIf="form.get('email').touched && form.get('email').errors?.required">Email is
                    required!</mat-card>
                <mat-card class="alert" *ngIf="form.get('email').touched && form.get('email').errors?.pattern">Email
                    must
                    be in a valid
                    form! Email must contain only latin letters and digits, "." and "_"! /John.15_Johnson@gmail.com/
                </mat-card>

                <mat-form-field class="full-width-input">
                    <mat-label>Account balance</mat-label>
                    <input matInput type="number" name="balance" id="balance" placeholder="Account balance"
                        formControlName="balance">
                </mat-form-field>
                <mat-card class="alert"
                    *ngIf="form.get('balance').errors?.required && form.get('balance').touched">Account balance
                    is required!
                </mat-card>

                <mat-form-field class="full-width-input">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" name="password" id="password" placeholder="*****"
                        formControlName="password">
                </mat-form-field>
                <mat-card *ngIf="form.get('password').touched && form.get('password').errors?.required" class="alert">
                    Password is required!
                </mat-card>
                <mat-card *ngIf="form.get('password').touched && form.get('password').errors?.minlength" class="alert">
                    Password must be at least 5 characters!
                </mat-card>


                <mat-form-field class="full-width-input">
                    <mat-label>Repeat password</mat-label>
                    <input matInput type="password" name="rePassword" id="rePassword" placeholder="*****"
                        formControlName="rePassword">
                </mat-form-field>
                <mat-card *ngIf="form.get('rePassword').touched && form.get('rePassword').errors?.required"
                    class="alert">
                    Repeat Password is required!</mat-card>
                <mat-card *ngIf="form.get('rePassword').touched && form.get('rePassword').errors?.rePasswordValidator"
                    class="alert">Repeat password doesn't match password!</mat-card>

                <mat-card class="alert" *ngIf='!!error'>{{error}}</mat-card>

                <mat-card-actions>
                    <button mat-raised-button color="accent" [disabled]="form.invalid">Create Account</button>
                </mat-card-actions>

            </form>
        </mat-card-content>
    </mat-card>
</div>