<div class="entire">
    <h2 mat-dialog-title>{{selectedCoin | uppercase}}</h2>
    <mat-dialog-content class="mat-typography">
        <form #f="ngForm" class="my-form">

            <mat-form-field class="full-width">
                <mat-label>Entry price</mat-label>
                <input type="number" matInput name="entry" required ngModel #entry='ngModel'>
            </mat-form-field>
            <mat-card class="alert" *ngIf='!entry.valid && entry.touched'>Entry price is required!</mat-card>
            <mat-card class="alert" *ngIf='sum.errors?.mustBeHigher'>Entry price can't be lower or equal to 0!
            </mat-card>

            <mat-form-field class="full-width">
                <mat-label>Target profit</mat-label>
                <input type="number" matInput placeholder="Target profit" name="target" sumValidator ngModel #target='ngModel'>
            </mat-form-field>
            <mat-card class="alert" *ngIf='(target.value <= entry.value) && (target.value !== null) && !target.pristine'>Target
                profit must be higher
                than the entry price!</mat-card>
            <mat-card class="alert" *ngIf='target.errors?.sumHigherThanZero && !target.pristine'>Sum can't be lower or
                equal
                to
                0!</mat-card>

            <mat-form-field class="full-width">
                <mat-label>Stop loss</mat-label>
                <input type="number" matInput placeholder="Stop loss" name="stop" sumValidator ngModel #stop='ngModel'>
            </mat-form-field>
            <mat-card class="alert" *ngIf='(stop.value >= entry.value) && !stop.pristine'>Stop loss must be lower or
                equal
                to the entry price!</mat-card>
            <mat-card class="alert" *ngIf='stop.errors?.sumHigherThanZero && !stop.pristine'>Sum can't be lower or equal
                to
                0!</mat-card>


            <mat-form-field class="full-width">
                <mat-label>Sum in USD</mat-label>
                <input type="number" matInput placeholder="Sum" name="sum" required sumValidator ngModel #sum='ngModel'>
            </mat-form-field>

            <mat-card class="alert" *ngIf='sum.errors?.required && sum.touched'>Sum is required!</mat-card>
            <mat-card class="alert" *ngIf='sum.errors?.sumHigherThanZero && sum.touched'>Sum can't be lower or equal to
                0!</mat-card>
            <mat-card class="alert" *ngIf='(sum.value > currentUserBalance) && sum.dirty'>Sum can't be higher or equal
                to your account balance!</mat-card>
        </form>
        <button
            [disabled]='((target.value <= entry.value) && (target.value !== null) && !target.pristine) || ((stop.value >= entry.value) && stop.dirty) || f.invalid'
            mat-raised-button color="accent" [mat-dialog-close]="false" cdkFocusInitial
            (click)="onSubmit(f)">Open</button>

    </mat-dialog-content>

    <mat-dialog-actions>
    </mat-dialog-actions>

</div>