

<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile class='grid' colspan='1' rowspan='3'>
        <div *ngIf="dataPieChart" style="display: block">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" width="300"
                height="300"></canvas>
        </div>
    </mat-grid-tile>


    <mat-grid-tile class='grid' colspan='3' rowspan='4'>
        <div *ngIf="dataBarChart" style="display: block">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [colors]="barChartColors"
                [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" width="900"
                height="400">
            </canvas>
        </div>
    </mat-grid-tile>

    <mat-grid-tile class='grid' colspan='1' rowspan='1'>
        <h3> CRYPTO SHARES IN PERCENT</h3>
    </mat-grid-tile>

    <mat-grid-tile class='grid' colspan='1' rowspan='2'>
        <mat-card class='avg'>
            <mat-card-content>
                <h1>ACCOUNT BALANCE</h1>
                <mat-card-title>4578</mat-card-title>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class='grid' colspan='1' rowspan='2'>
        <mat-card class='avg'>
            <mat-card-content>
                <h1>AVERAGE WIN RATE</h1>
                <mat-card-title>1014.06</mat-card-title>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>
   

    <mat-grid-tile class='grid' colspan='1' rowspan='2'>
        <mat-card class='avg'>
            <mat-card-content>
                <h1>HIGHEST WIN</h1>
                <mat-card-title>1014.06</mat-card-title>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class='grid' colspan='1' rowspan='2'>
        <mat-card class='avg'>
            <mat-card-content>
                <h1>HIGHEST LOSS</h1>
                <mat-card-title>1014.06</mat-card-title>
            </mat-card-content>

        </mat-card>
    </mat-grid-tile>

</mat-grid-list>