mat-grid-list {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.balance{
    width: 75%;
    height: 50%;
    justify-items: center;
    justify-content: center;
    text-align: center;
   
}
.avg {
    width: 75%;
    height: 75%;
    justify-items: center;
    background-color: #1E272C !important;
    color: white;
  
    text-align: center;
}
h3{
    font-weight: bold;
}

.example-card-two {
    max-width: 400px;
}