.entire-form {
    width: 40%;
    margin-top: 20%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 25%;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

button {
    background-color: #21CE99 !important;
}

app-main {
    position: center;
}